<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%- include("./includes/head");%>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
	<div class="container"><a class="navbar-brand"><%=navTitle; %></a></div>
</nav>
<br/>
<div class="container">
	<div class="row">
		<div class="col col-md-3">
			<%- include("includes/menu");%>
		</div>
		<div class="col col-md-9">
			<% if(products.length>0){ %>
				<div class="row">
				    <% products.forEach((item,index)=>{ %>
				    	<div class="col col-md-4 col-sm-4 col-xs-6">
							<div class="card">
							  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
							  <div class="card-body">
							    <h6 class="card-title"><%=item.name %></h6>
							    <p class="card-text"><%=item.price %></p>
							    <a href="#" class="btn btn-primary">Go somewhere</a>
							  </div>
							</div>
							<br/>
						</div>
				    <% }); %>
			    </div>
			<% }else{ %>
			<p class="alert alert-danger">Data products empty<p>
			<% } %>
		</div>
	</div>
</div>
</body>
</html>
